/* nav.module.css */
.navigation {
  @apply flex items-center justify-between p-4 bg-gray-400 h-14 backdrop-blur-2xl text-white;
  position: sticky;
  top: 0;
  z-index: 50; /* Keeps the navbar on top */
  width: 100%;
  border-bottom-left-radius: 1rem; /* Round bottom-left */
  border-bottom-right-radius: 1rem; /* Round bottom-right */
}

.link {
  @apply mx-2 sm:mx-4 md:mx-4 lg:mx-8 hover:text-gray-300;
  font-size: clamp(0.875rem, 1.5vw + 0.25rem, 1.125rem);
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
  bottom: -4px;
}
